@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto';
}
body {
  background: #f9fafb;
  font-family: 'Poppins', sans-serif;
}